@font-face {
    font-family: 'iconfont-demo';
    /* project id 335625 */
    src: url('//at.alicdn.com/t/font_eqy90a8ovbqbmx6r.eot');
    src: url('//at.alicdn.com/t/font_eqy90a8ovbqbmx6r.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_eqy90a8ovbqbmx6r.woff') format('woff'), url('//at.alicdn.com/t/font_eqy90a8ovbqbmx6r.ttf') format('truetype'), url('//at.alicdn.com/t/font_eqy90a8ovbqbmx6r.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont-demo" !important;
    font-size: 1.4rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-book {
    font-size: 1.2rem;
}